<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="sviluppo ">
    <environment id="sviluppo ">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gestconfdb"/>
        <property name="username" value="root"/>
        <property name="password" value="pippoi"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/gestioneconferenzews/DAO/xml/RegioneMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ProvinciaMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ComuneIstatMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/RuoloMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/UtenteMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/CompetenzaMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/TipoPagamentoMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ConferenzaMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ReportMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ContattoMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/PersonaMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ComitatoMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/ComitatoPersonaMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/StrutturaConvenzionataMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/SessioneMapper.xml"/>
    <mapper resource="com/gestioneconferenzews/DAO/xml/SessionePartecipantiMapper.xml"/>
  </mappers>
</configuration>
